<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.unknown.dao.LoginUerDao">
    <select id="queryLoginUserNumByProjectIds" resultType="java.util.Map">
        SELECT last_browse_project_id, count(1) AS loginUserNum FROM tb_login_user_info WHERE yn = 1
        AND last_browse_project_id IN
        <foreach item="id" collection="projectIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY last_browse_project_id
    </select>
</mapper>