<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.unknown.dao.ProjectPeopleRelationDao">
    <select id="queryPeopleByProjectIds" resultType="java.util.Map" parameterType="java.util.List">
        SELECT project_id, count(1) AS peopleNum FROM tb_project_people_relation WHERE yn = 1
        AND project_id IN
        <foreach item="id" collection="projectIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY project_id
    </select>
</mapper>